version: 2
root-markers:
  - .git/
lint-debounce: 1s
languages:
  cmake:
    - <<: *cmake-lint
  crystal:
    - <<: *ameba
  dockerfile:
    - <<: *hadolint
  javascript:
    - <<: *prettierd
  javascript.jsx:
    - <<: *prettierd
  javascriptreact:
    - <<: *prettierd
  lua:
    - <<: *selene
    - <<: *stylua
  make:
    - <<: *checkmake
  markdown:
    - <<: *alex
    - <<: *proselint
    - <<: *prettierd
  markdown.mdx:
    - <<: *alex
    - <<: *proselint
    - <<: *prettierd
  solidity:
    - <<: *solhint
    - <<: *slither
    - <<: *forge-fmt
  sh:
    - <<: *shellcheck
    - <<: *shfmt
  tex:
    - <<: *chktex
  typescript:
    - <<: *prettierd
  typescript.tsx:
    - <<: *prettierd
  typescriptreact:
    - <<: *prettierd
  yaml:
    - <<: *yamllint
    - <<: *action-lint
    - <<: *prettierd
